<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Fanadesh</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <!-- progress barstle -->
    <link rel="stylesheet" href="css/css-circular-prog-bar.css" />
    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap"
      rel="stylesheet"
    />
    <!-- font wesome stylesheet -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/css-circular-prog-bar.css" />
  </head>

  <body class="sub_page">
    <div class="top_container">
      <!-- header section strats -->
      <header
        th:replace="fanadesh-html/sections/headers :: fanadeshHeaders"
      ></header>
    </div>
    <!-- end header section -->

    <!-- contact section -->

    <section th:replace="fanadesh-html/sections/contactSection :: contactSection" ></section>
    <!-- end contact section -->

    <!-- Pre Footer section -->
    <section
      th:replace="fanadesh-html/sections/preFooterHeaders :: preFooterHeaders"
    ></section>
    <!-- end Pre Footer section -->

    <!-- footer section -->
    <section th:replace="fanadesh-html/sections/footer :: footerHeaders" ></section>
    <!-- end footer section -->

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
  </body>
</html>
